<img src="/assets/test.jpeg" alt="food" width="600" height="400">
<p>
  This is a cooking game.
</p>
<p>
  You need to add three different types of food to get a yummy dish! The three types include: meat, apple, banana and tomato
</p>
<hr>
Food Name: <br>
<input type="text" (input)="onUpdateFood($event)">
<button class="btn btn-light" (click)="submit()" style="margin-right: 2px"> submit </button>
<button class="btn btn-light" (click)="reset()"> reset </button><br>
<div *ngIf="enternew">
  <div *ngFor="let food of foods">
    <div style="margin-bottom: 2px;border-left: solid 2px;border-right: solid 2px;border-top: solid 2px;border-bottom: solid 2px; display:flex; justify-content: space-between">
      <div>
        <span style="color:cornflowerblue; margin-right:5px">Food name: </span><span>{{ food.name }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show_answer">
  {{ answer }}
</div>